.login-wrap {
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    a {
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
    }
}
