<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nicky.shoppingmall.domain.user.mapper.AddressMapper">

    <insert id="addNewAddress" parameterType="AddNewAddressDto" useGeneratedKeys="true" keyProperty="id">
        /* AddressMapper::addNewAddress */
        insert into address (user_id, zip_code, address_main, address_sub, create_date )
        values (#{userId}, #{zipCode}, #{addressMain}, #{addressSub}, now())
    </insert>

</mapper>