<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nicky.shoppingmall.domain.adminMng.mapper.AdminUserMapper">
    
    <select id="getCreatableCode" parameterType="String" resultType="String">
        /* AdminUserMapper::getCreatableCode */
        select creatable_code from authority where code=#{code}
    </select>

    <select id="getAdminList" resultType="com.nicky.shoppingmall.domain.adminMng.dto.AdminDto$Info">
        /* AdminUserMapper::getAdminList */
        select id, username, nickname, authority_code, create_date, update_date from admin where delete_date is null
    </select>

    <insert id="createAdmin" parameterType="CreateAdminDto" useGeneratedKeys="true" keyProperty="id">
        /* AdminUserMapper::createAdmin */
        insert into admin (username, `password`, nickname, authority_code, create_date) 
        values (#{username}, #{password}, #{nickname}, #{authorityCode}, now())
    </insert>

    <select id="isExistUsername" parameterType="String" resultType="Boolean">
        /* AdminUserMapper::isExistUsername */
        select if(count(id) <![CDATA[>]]> 0, true, false) from admin where username=#{username}
    </select>

    <update id="modifyAdmin" parameterType="ModifyAdminDto">
        /* AdminUserMapper::modifyAdmin */
        update admin set update_date = now()
        <if test="nickname != null">,nickname = #{nickname}</if>
        <if test="authorityCode != null">,authority_code = #{authorityCode}</if> 
        where id = #{id}
    </update>

    <update id="removeAdminList" parameterType="List">
        /* AdminUserMapper::removeAdminList */
        update admin set delete_date = now() where id in <foreach collection="list" item="id" open="(" close=")" separator="," >#{id}</foreach>
    </update>

</mapper>