<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nicky.shoppingmall.domain.auth.mapper.AdminAuthMapper">
    <select id="getUserDetails" parameterType="String" resultType="MyUserDetails">
        /* AdminAuthMapper::getUserDetails */
        select username, password, authority_code
    	from admin
    	where username = #{username}
    </select>

    <update id="changeRefreshToken" parameterType="com.nicky.shoppingmall.domain.auth.dto.RefreshTokenDto$Change">
        /* AdminAuthMapper::changeRefreshToken */
        update admin set refresh_token=#{refreshToken} where username=#{username}
    </update>

    <select id="getByRefreshToken" parameterType="String" resultType="RefreshTokenDto">
        /* AdminAuthMapper::getByRefreshToken */
        select username from admin where refresh_token=#{refreshToken}
    </select>
</mapper>