<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nicky.shoppingmall.domain.auth.mapper.AuthMapper">
    <select id="getUserDetails" parameterType="String" resultType="MyUserDetails">
        /* AuthMapper::getUserDetails */
        select email AS username, password, authority_code
    	from `user`
    	where email = #{username} and status = 1
    </select>

    <insert id="createUser" parameterType="CreateUserDto" useGeneratedKeys="true" keyProperty="id">
        /* AuthMapper::createUser */
        insert into user (type, email, nickname, password, authority_code, status, is_email_alert_confirm, phone, create_date )
        values (#{type}, #{email}, #{nickname}, #{password}, #{authorityCode}, #{status}, #{isEmailAlertConfirm}, #{phone}, now())
    </insert>

    <update id="modifyRefreshToken" parameterType="HashMap">
        /* AuthMapper::modifyRefreshToken */
        update `user` 
        set refresh_token=#{refreshToken}
        where email=#{email} and status=true
    </update>

    <select id="getByRefreshToken" parameterType="String" resultType="RefreshTokenDto">
        /* AuthMapper::getByRefreshToken */
        select email as username
    	from `user`
    	where refresh_token=#{refreshToken}
    </select>
</mapper>