<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/dashboard">
        <div class="sidebar-brand-text mx-3">ADMIN</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/dashboard">
            <i class="bi bi-gear-wide-connected"></i>
            <span>Dashboard</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Interface</div>

    <!-- Nav Item - Product Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseProduct"
            aria-expanded="false"
            aria-controls="collapseProduct"
        >
            <i class="bi bi-gear-fill"></i>
            <span>상품 관리</span>
        </a>
        <div id="collapseProduct" class="collapse" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/product/category">카테고리 관리</a>
                <a class="collapse-item" href="/admin/product/list">상품 관리</a>
                <a class="collapse-item" href="/admin/product/review">상품 리뷰 관리</a>
                <a class="collapse-item" href="/admin/product/qna">상품 Q&A 관리</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Order Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOrder"
            aria-expanded="false"
            aria-controls="collapseOrder"
        >
            <i class="bi bi-gear-fill"></i>
            <span>주문 관리</span>
        </a>
        <div id="collapseOrder" class="collapse" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/order/list">주문 관리</a>
                <a class="collapse-item" href="/admin/order/cancel">취소 관리</a>
                <a class="collapse-item" href="/admin/order/return">반품 관리</a>
                <a class="collapse-item" href="/admin/order/exchange">교환 관리</a>
                <a class="collapse-item" href="/admin/order/policy">배송 정책 관리</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Statistics -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/statistics">
            <i class="bi bi-folder-fill"></i>
            <span>통계 관리</span></a
        >
    </li>

    <!-- Nav Item - Manage Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            role="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseManage"
            aria-expanded="false"
            aria-controls="collapseManage"
        >
            <i class="bi bi-gear-fill"></i>
            <span>운영 관리</span>
        </a>
        <div id="collapseManage" class="collapse" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/notice">공지사항 관리</a>
                <a class="collapse-item" href="/admin/coupon">쿠폰 관리</a>
                <a class="collapse-item" href="/admin/coupon-log">쿠폰 로그</a>
                <a class="collapse-item" href="/admin/point">마일리지 로그</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - User Account -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/user">
            <i class="bi bi-folder-fill"></i>
            <span>회원 관리</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">System</div>

    <!-- Nav Item - Admin Account -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/mng">
            <i class="bi bi-folder-fill"></i>
            <span>관리자 관리</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<script>
    // Toggle the side navigation
    $("#sidebarToggle, #sidebarToggleTop").on("click", function (e) {
        $("body").toggleClass("sidebar-toggled");
        $(".sidebar").toggleClass("toggled");
        if ($(".sidebar").hasClass("toggled")) {
            $(".sidebar .collapse").collapse("hide");
        }
    });
</script>
<!-- End of Sidebar -->
