<header class="header">
    <div class="header-wrap">
        <span class="logo">What happened</span>
        <div class="lnb">
            <nav class="lnb-section">
                <a href="#">INTRODUCTION</a>
                <a href="#">SOLUTION</a>
                <a href="#">RATE PLAN</a>
            </nav>
            <nav class="lnb-section">
                <a href="login.html">LOGIN</a>
                <a href="#">APPLY FOR FREE USE</a>
            </nav>
        </div>
    </div>
</header>
