<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link th:href="@{/static/css/style.css}" rel="stylesheet" />
        <title>Login</title>
    </head>
    <body>
        <header th:replace="~{components/header :: HeaderFragment}"></header>
        <div class="login-wrap">
            <span class="title">Welcome!</span>
            <div class="devide"></div>
            <form class="form">
                <input placeholder="아이디 (이메일)" />
                <input placeholder="비밀번호" />
                <button class="btn-default" type="submit">로그인하기</button>
            </form>
        </div>

        <footer th:replace="~{components/footer :: FooterFragment}"></footer>
    </body>
</html>
