<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/cookie.js}"></script>
        <script th:src="@{/js/function.js}"></script>
        <title>Login</title>
    </head>
    <body>
        <header th:replace="~{/components/header.html}"></header>
        <div class="login-wrap">
            <span class="title">Welcome!</span>

            <form class="form">
                <input placeholder="아이디 (이메일)" name="email" />
                <input placeholder="비밀번호" name="password" type="password" />
                <button id="btn-login" class="btn-secondary mid" type="button">로그인하기</button>
            </form>
        </div>
        <footer th:replace="~{/components/footer.html}"></footer>

        <script>
            $(document).ready(() => {
                $("#btn-login").click((e) => login());

                $("input[name='email'],input[name='password']").keyup((e) => {
                    const event = e.originalEvent;
                    if (event.key === "Enter") login();
                });

                function login() {
                    const email = $("input[name='email']").val();
                    const password = $("input[name='password']").val();

                    const isEmail = validEmail(email);

                    if (!isEmail) {
                        alert("이메일 형식이 유효하지 않습니다.");
                        return;
                    }

                    $.ajax({
                        url: "http://localhost:8080/api/v1/auth/login",
                        data: JSON.stringify({ email, password }),
                        method: "post",
                        contentType: "application/json",
                    })
                        .done((json) => {
                            setCookie("accessToken", json.data.accessToken, 30 * 60 * 1000);
                            setCookie("refreshToken", json.data.refreshToken, 24 * 60 * 60 * 1000);
                            location.href = "/";
                        })
                        .fail((e) => {
                            console.error(e);
                            if (e.status === 400) {
                                alert(e.responseJSON.message);
                            }
                        });
                }
            });
        </script>
    </body>
</html>
