/*--- base ---*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}
html,
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
html {
    font-family: $font-type;
    font-size: clamp(12px, vw($font-baseSize), $font-baseSize);
    letter-spacing: -0.025em;
    line-height: 1.3;
    color: $font-color;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    // @include scroll;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
i,
img,
span {
    border: 0;
}
img,
video,
embed {
    max-width: 100%;
    max-height: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption {
    display: none;
}
fieldset {
    border: 0 none;
}
legend {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
}
select {
    cursor: pointer;
    &::-ms-expand {
        display: none;
    }
}
textarea {
    outline: none;
}
button {
    color: inherit;
    border: none;
    background: none;
    background: transparent;
    font-family: inherit;
    white-space: nowrap;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
    overflow: visible;
    cursor: pointer;
    transition: 0.3s;
}
input::-ms-check {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}
input,
select,
button {
    display: inline-block;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.3s;
}
a {
    color: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

select {
    position: relative;
    padding: 12px 40px 12px 22px;
    font-size: 12px;
    border: 1px solid $border;
    background-image: url($image-path + "/icon/arrw_down.svg");
    background-size: auto 20%;
    background-position: 97% center;
    background-repeat: no-repeat;
    transition: 0.3s;
    &:focus {
        background-image: url($image-path + "/icon/arrw_up.svg");
    }
}