.login-wrap {
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    .title {
        position: relative;
        text-align: center;
        font-size: 45px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        padding-bottom: 57px;
        margin-bottom: 20px;
        color: $secondary;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 1px solid $bk;
        }
    }
}
