$primary : #FF770E;
$primary-lt: #FFAE0D;
$primary-bg: #FFFAF0;
$secondary : #255AD5;
$secondary-lt: #4D7AE2;
$secondary-bg: #F0F5FF;


$danger: #e41351;
$success: #255AD5;
$warning: #ecba14;
$info: #4D7AE2;

$mint: #29DAFF;
$mint-dk: #01A0C2;
$yGreen: #8FD500;
$yell: #FFCF0D;

$border: #CECECE;
$border-lt: #dfdfdf;
$gray-e: #e4e4e4;
$gray-c: #CCCCCF;
$gray-a: #a8a8a8;
$gray-9: #989898;
$gray-6: #686868;

$bg-lt: #f5f5f5;
$bg-lt2: #faf8f4;

$bg: #f5f5f5;
$dark: #3F3B3A;
$dark2: #2A2A2A;

$font-color: #000;
$font-body: #000;

$bk: #000;
$wh: #fff;